.book-card {

    width: 100%;

    background: white;

    border-radius: 12px;

    /*max-width: 280px;

    margin: auto;*/

    overflow: hidden;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);

    transition: 0.3s;

}

.book-card:hover {

    transform: translateY(-5px);

}

.book-image {

    width: 100%;

    height: 220px;

    object-fit: contain;

    background: #f8fafc;

    padding: 8px;
}

.book-details {

    padding: 10px;

}

.book-details h3 {

    font-size: 1.05rem;

    color: #1F2937;

    margin-bottom: 3px;

    line-height: 1.3;

}

.author {

    color: #6B7280;

    font-size: 0.9rem;

    margin-bottom: 5px;

}

.genre {

    background: #FED7AA;

    color: #9A3412;

    padding: 4px 10px;

    border-radius: 20px;

    font-size: 0.8rem;

}

.condition {

    margin-top: 6px;

    margin-bottom: 4px;

    font-size: 0.9rem;

    color: #4B5563;

}

.price {

    margin: 8px 0;

    font-size: 1.1rem;

    font-weight: 600;

    color: #EA580C;

}

.view-btn {

    width: 100%;

    padding: 8px;

    border: none;

    border-radius: 8px;

    background: #F97316;

    color: white;

    font-size: 0.9rem;

    font-weight: 600;

    cursor: pointer;

    transition: 0.3s;

}

.view-btn:hover {

    background: #EA580C;

}

.edit-btn {

    width: 100%;

    margin-top: 8px;

    padding: 9px;

    background: #DBEAFE;

    color: #1D4EDB;

    border: 1px solid #BFDBFE;

    border-radius: 8px;

    font-size: 0.9rem;

    font-weight: 600;

    cursor: pointer;

    transition: 0.3s;

}

.edit-btn:hover {

    background: #BFDBFE;

}

.delete-btn {

    width: 100%;

    margin-top: 8px;

    padding: 9px;

    background: #FEE2E2;

    color:#DC2626;

    border: 1px solid #d43232;

    border-radius: 8px;

    font-size: 0.9rem;

    font-weight: 600;

    cursor: pointer;

    transition: 0.3s;

}

.delete-btn:hover {

    background:#FECACA;

}

.book-distance{
    margin-top:10px;
    color:#2563eb;
    font-weight:600;
    font-size:15px;
}