/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navbar */

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 18px 50px;

    background-color: white;
    border-bottom: 1px solid #e5e7eb;
}


/* Logo */

.logo a {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    color: #2563eb;
}


/* Center Navigation */

.nav-center {
    display: flex;
    gap: 35px;
}

.nav-center a {
    text-decoration: none;
    color: #374151;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.3s;
}

.nav-center a:hover {
    color: #2563eb;
}


/* Right Navigation */

.nav-right {
    display: flex;
    gap: 20px;
}

.nav-right a {
    text-decoration: none;
    color: #374151;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.3s;
}

.nav-right a:hover {
    color: #2563eb;
}


/* Responsive */

@media (max-width: 900px) {

    .navbar {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .nav-center {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .nav-right {
        display:flex;
        align-items:center;
        gap:20px;
       
    }

}
.username{
    color:black;
    font-weight:600;
    font-size:16px;
    white-space:nowrap;
}

.logout-btn{
    padding:8px 18px;
    background:#f3c940;
    color:#111;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-weight:600;
    font-size:15px;
    transition:0.3s;
}

.logout-btn:hover{
    background:#dcad20;
}