.home {
    width: 100%;
  }
  
  .books-section {
    width: 90%;
    max-width: 1300px;
    margin: auto;
    padding-bottom: 60px;
  }
  
  .books-section h2 {
    font-size: 2rem;
    color: black;
    margin-bottom: 30px;
  }
  
  .books-grid {
    /*display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 30px;*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 280px));
    justify-content: center;
    gap: 30px;
  }